<p id="notice"><%= notice %></p>

<p>
  <strong>Clubname:</strong>
  <%= @admin_update_club.shortname %>
</p>

<p>
  <strong>Clubname:</strong>
  <%= @admin_update_club.clubname %>
</p>

<p>
  <strong>Clubdesc:</strong>
  <%= @admin_update_club.clubdesc %>
</p>

<p>
  <strong>Clubweblink:</strong>
  <%= @admin_update_club.clubweblink %>
</p>

<p>
  <strong>Videolink:</strong>
  <%= @admin_update_club.videolink %>
</p>

<p>
  <strong>Clubquote:</strong>
  <%= @admin_update_club.clubquote %>
</p>

<p>
  <strong>ImageLink</strong>
  <%= @admin_update_club.imagelink %>
</p>

<%= link_to 'Edit', edit_admin_update_club_path(@admin_update_club) %> |
<%= link_to 'Back', admin_update_clubs_path %>

