


<!-- Designed and developed by Shubham Lal and Joy Lal Chattaraj -->




<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BITOTSAV 2016</title>
	<meta name="author" content="Shubham Lal | Joy Lal Chattaraj" />
	<link rel="shortcut icon" href="/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bitotsav/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/bitotsav/css/main.css" />
    
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	

	

	<script type="text/javascript" src="/bitotsav/js/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="/bitotsav/examples.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#8a1a1a', '#ad96a0', '#969cad', '#8aada9', '#91ad8a', '#a69f7a', '#a69dc1', '#7aa68c', '#a67a7a', '#91ad8a'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage', 'fifthPage', 'sixthPage', 'seventhPage', 'eigthPage', 'ninthPage', 'tenthPage'],
				menu: '#menu',
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['First page', 'Second page', 'Third page', 'Fourth page', 'Fifth page', 'Sixth page', 'Seventh page', 'Eigth page', 'Ninth Page', 'Last Page']
			});
		});
	</script>

	<script type="text/javascript">
	    $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();


            $('.org-vol-2-1').hide();
            
            $('.vol-1').click(function(){
                $('.org-vol-1').fadeOut(200);
                $('.org-vol-2-1').fadeIn(1000);
            });
            $('.org-1').click(function(){
                $('.org-vol-2-1').fadeOut(100);
                $('.org-vol-1').fadeIn(1000);
            });



            $('.org-vol-2-2').hide();
            
            $('.vol-2').click(function(){
                $('.org-vol-2').fadeOut(200);
                $('.org-vol-2-2').fadeIn(1000);
            });
            $('.org-2').click(function(){
                $('.org-vol-2-2').fadeOut(100);
                $('.org-vol-2').fadeIn(1000);
            });



            $('.org-vol-2-3').hide();
            
            $('.vol-3').click(function(){
                $('.org-vol-3').fadeOut(200);
                $('.org-vol-2-3').fadeIn(1000);
            });
            $('.org-3').click(function(){
                $('.org-vol-2-3').fadeOut(100);
                $('.org-vol-3').fadeIn(1000);
            });



            $('.org-vol-2-4').hide();
            
            $('.vol-4').click(function(){
                $('.org-vol-4').fadeOut(200);
                $('.org-vol-2-4').fadeIn(1000);
            });
            $('.org-4').click(function(){
                $('.org-vol-2-4').fadeOut(100);
                $('.org-vol-4').fadeIn(1000);
            });



            $('.org-vol-2-5').hide();
            
            $('.vol-5').click(function(){
                $('.org-vol-5').fadeOut(200);
                $('.org-vol-2-5').fadeIn(1000);
            });
            $('.org-5').click(function(){
                $('.org-vol-2-5').fadeOut(100);
                $('.org-vol-5').fadeIn(1000);
            });




            $('.org-vol-2-6').hide();
            
            $('.vol-6').click(function(){
                $('.org-vol-6').fadeOut(200);
                $('.org-vol-2-6').fadeIn(1000);
            });
            $('.org-6').click(function(){
                $('.org-vol-2-6').fadeOut(100);
                $('.org-vol-6').fadeIn(1000);
            });




            $('.org-vol-2-7').hide();
            
            $('.vol-7').click(function(){
                $('.org-vol-7').fadeOut(200);
                $('.org-vol-2-7').fadeIn(1000);
            });
            $('.org-7').click(function(){
                $('.org-vol-2-7').fadeOut(100);
                $('.org-vol-7').fadeIn(1000);
            });




            $('.org-vol-2-8').hide();
            
            $('.vol-8').click(function(){
                $('.org-vol-8').fadeOut(200);
                $('.org-vol-2-8').fadeIn(1000);
            });
            $('.org-8').click(function(){
                $('.org-vol-2-8').fadeOut(100);
                $('.org-vol-8').fadeIn(1000);
            });  
        });


        
	</script>

</head>
<body>


<ul id="menu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">Home</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Design</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Finance</a></li>
	<li data-menuanchor="4thPage"><a href="#4thPage">Web</a></li>
	<li data-menuanchor="fifthPage"><a href="#fifthPage">Resource</a></li>
	<li data-menuanchor="sixthPage"><a href="#sixthPage">Publicity</a></li>
	<li data-menuanchor="seventhPage"><a href="#seventhPage">Event (days)</a></li>
	<li data-menuanchor="eigthPage"><a href="#eigthPage">Event (nights)</a></li>
	<li data-menuanchor="ninthPage"><a href="#ninthPage">Hospitality</a></li>
	<li data-menuanchor="tenthPage"><a href="#tenthPage">2k15</a></li>
	<li><a href="/bitotsav/select">
<% if session[:bitotsav] %>ADMIN AREA
	<% else %>LOG IN
	<% end %></a></li>
	<% if session[:bitotsav] %><li><a href="/bitotsav/logout">LOGOUT</a></li><% else %><% end %>
	<li><a href="/bitotsav/Rules-compressed.pdf" target="_blank">RULES</a></li>
    
    


</ul>


<div id="fullpage">

	<div class="section " id="section0">
		
		<img src="/bitotsav/web.png" alt="fullPage" />

        <div class="top row">

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>

			

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/shubhamAggarwal.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Shubham Agrawal
			    </div>
			    <div class="line"></div>
			    <div class="ordinate">
			    	Coordinator
			    </div>			    
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/aamir.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Aamir Sohib
			    </div>
			    <div class="line"></div>
			    <div class="ordinate">
			    	Co-Coordinator
			    </div>			    
			
			</div>
	    </div>		
 

	</div>

	<div class="section" id="section1">

	    <div class="section-caption">
	    	<h1>Design & Coverage Team</h1>
	    </div>

		<div class="intro row">

		    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>

			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/som.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Somnath Mukherjee
			    </div>
			    <div class="line"></div>			    
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/s960x960/1796976_593060610776983_671019772_o.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Saurabh Mishra
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://scontent-sit4-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/1959431_10202170614787325_5518018603093249508_n.jpg?oh=e151e32538df49448f8e218953d7e232&oe=574CEA0F);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Sarvesh Singh
			    </div>
			    <div class="line"></div>			    
			
			</div>


            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://scontent-sit4-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12096010_912325058816112_8148270829907091414_n.jpg?oh=7c4b41990cad255512c5895b3687fb68&oe=5761FB35);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Arun 
			    </div>
			    <div class="line"></div>			    
			
			</div>

			


			


			


		</div>

		<div class="buttons">
			<button class="org-1">Organisers</button>
			<button class="vol-1">Volunteers</button>
		</div>

		<div class="org-vol-1">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "DNC" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-1">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "DNC" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>




	<div class="section" id="section2">
		<div class="section-caption">
	    	<h1>Finance & Sponsorship Team</h1>
	    </div>

		<div class="intro row">

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/sawa.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Ankit Sawa
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/raman.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Raman Mohan
			    </div>
			    <div class="line"></div>			    
			
			</div>



			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/s960x960/1796976_593060610776983_671019772_o.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Saurabh Mishra
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/shaurya.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Siddharth Shaurya
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/chiru.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Chiranjeev Sidhartha
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://scontent-sit4-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1010701_477541579007289_4448625_n.jpg?oh=0dd8b35019665459ef2f7f2b20365fae&oe=575450F6);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Aditya Sarda
			    </div>
			    <div class="line"></div>			    
			
			</div>


		</div>

		<div class="buttons">
			<button class="org-2">Organisers</button>
			<button class="vol-2">Volunteers</button>
		</div>

		<div class="org-vol-2">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "FNS" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-2">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "FNS" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                   <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>




	<div class="section" id="section3">
		<div class="section-caption">
	    	<h1>Web Design Team</h1>
	    </div>

	    

		<div class="intro row">

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>


			
            

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/bhuwan.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Bhuwan Bharat
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/mln.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Mln Koushik
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/keshav.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Keshav Bansal
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/upreti.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Divyansh Upreti
			    </div>
			    <div class="line"></div>			    
			
			</div>


		</div>



		<div class="buttons">
			<button class="org-3">Organisers</button>
			<button class="vol-3">Volunteers</button>
		</div>

		<div class="org-vol-3">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "WDT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-3">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "WDT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>



	<div class="section" id="section4">
		<div class="section-caption">
	    	<h1>Resource Team</h1>
	    </div>

		<div class="intro row">

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>
			
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/rajdeepDeka.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Rajdeep Deka
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/devrat.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Devvrat Chandra
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			


		</div>

		<div class="buttons">
			<button class="org-4">Organisers</button>
			<button class="vol-4">Volunteers</button>
		</div>

		<div class="org-vol-4">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "RT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-4">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "RT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>






	<div class="section" id="section5">
		<div class="section-caption">
	    	<h1>Publicity Team</h1>
	    </div>

		<div class="intro row">

			

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/ankurVikash.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Ankur Vikash
			    </div>
			    <div class="line"></div>			    
			
			</div>	

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/himaniJha.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Himani Jha
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/rohit.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Rohit Joseph
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/12079551_986683088058018_1322664588132067976_n.jpg?oh=301f58adfe92bc8858374a8f666430a7&oe=575367B2&__gda__=1464677558_58c97140dbe0a8613fd1d1823f5dc957);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Aditya Dokania
			    </div>
			    <div class="line"></div>			    
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(https://scontent-sin1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12187855_10201231088136423_3328818373650734850_n.jpg?oh=9f5a168fc4492dba265bedbc455e591a&oe=574F2FB2);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Uday Kiran
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>


			


			


		</div>

		<div class="buttons">
			<button class="org-5">Organisers</button>
			<button class="vol-5">Volunteers</button>
		</div>

		<div class="org-vol-5">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "PT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-5">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "PT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>






	<div class="section" id="section6">
		<div class="section-caption">
	    	<h1>Event Management Team (Days)</h1>
	    </div>

		<div class="intro row">

			

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>
			

			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/pragya.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Pragya Choudhary
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/dipendra.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Dipendra Adhikari
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/sid.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Siddharth Mundra
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			


		</div>

		<div class="buttons">
			<button class="org-6">Organisers</button>
			<button class="vol-6">Volunteers</button>
		</div>

		<div class="org-vol-6">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "EMTD" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-6">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "EMTD" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>




	<div class="section" id="section7">
		<div class="section-caption">
	    	<h1>Event Management Team (Nights)</h1>
	    </div>

		<div class="intro row">

			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/yash.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Yash Raj Khusro
			    </div>
			    <div class="line"></div>			    
			
			</div>


			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/Siddhant.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Siddhant Srivastava
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/namrata.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Namrata Gummalla
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/avinash.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			        Avinash Chauhan 
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/lucksya.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Luckshya Tudu
			    </div>
			    <div class="line"></div>			    
			
			</div>


		</div>

		<div class="buttons">
			<button class="org-7">Organisers</button>
			<button class="vol-7">Volunteers</button>
		</div>

		<div class="org-vol-7">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "EMTN" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-7">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "EMTN" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>







	<div class="section" id="section8">
		<div class="section-caption">
	    	<h1>Hospitality Team</h1>
	    </div>

		<div class="intro row">

			
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    			    
			
			</div>

			


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/mritunjay.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Mrityunjay Pandey
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/parul.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Parul Singh Parihar
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/ranaVivek.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Rana Vivek
			    </div>
			    <div class="line"></div>			    
			
			</div>


			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 wrapper">
			     
			    <div class="core-member" style="background-image: url(/bitotsav/img/vaidhya.jpg);"> 
			       	<div class="core-member-name">
			       	<div class="links">
			       	    <a href="" target="_blank"><span class="icon-f">f</span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-earphone icon-m" aria-hidden="true"></span><span class="data"></span></a>
			       		<a class="tooltips" href=""><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><span class="data data2"></span></a>
			       	</div>
			       	</div> 
			    </div>

			    <div class="core-name">
			    	Vaidya Nath Singh
			    </div>
			    <div class="line"></div>			    
			
			</div>


		</div>

		<div class="buttons">
			<button class="org-8">Organisers</button>
			<button class="vol-8">Volunteers</button>
		</div>

		<div class="org-vol-8">
			<div class="heading">
				ORGANISERS
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "HT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		<div class="org-vol-2-8">
			<div class="heading">
				VOLUNTEERS
			</div>
			<div class="content">


				<% @volunteer.each do |o| %>
				<% if o.Team == "HT" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>



	</div>


	<div class="section" id="section9">
		<div class="section-caption">
	    	<h1>2k15 Associate Members</h1>
	    	<br>
	    </div>

		

		

		<div class="org-vol-8">
			<div class="heading">
				Members
			</div>
			<div class="content">

			<% @organiser.each do |o| %>
				<% if o.Team == "2k15" %>
				<div class="member">
					<h4><%= o.Name %></h4>
					<h6><%= o.Role %></h6>
					<div class="rating">
                    <% if o.Rating == 0 %>
                    <span>☆☆☆☆☆</span>
                    <% else %>
                    <% o.Rating.times do %>
                    <span style="color: yellow;">☆</span>
<% end %> <% (5 - o.Rating).times do %>
                    <span>☆</span>
<% end %>
                    <% end %>
                    <% if o.Activity == true %>
                    <span class="act" style="background-color: green;"></span>
                    <% else %>
                    <span class="act" style="background-color: red;"></span>
                    <% end %>
                    </div>
				</div>
				<% else %>
				<% end %>

			<% end %>

				

			</div>
		</div>


		



	</div>


</div>


</body>
</html>
