<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @email.mail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Mailhash:</strong>
  <%= @email.password_digest %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
