<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bitotsavcore.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bitotsavcore.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @bitotsavcore.contact %>
</p>

<p>
  <strong>Fblink:</strong>
  <%= @bitotsavcore.fblink %>
</p>

<%= link_to 'Edit', edit_bitotsavcore_path(@bitotsavcore) %> |
<%= link_to 'Back', bitotsavcores_path %>
