
<!DOCTYPE html>
<html>
<head>

   <%= stylesheet_link_tag 'style', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'footer', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'navbar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'clubs', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>

