<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'footer', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'navbar', 'data-turbolinks-track' => true %>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
   <script src="/js/bootstrap.min.js"></script>
  
</head>
<body>

<%= yield %>

</body>
</html>

